<h3>Belépés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
  <!-- ide jönnek a hibaüzenetek -->
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
  <label for="emailField">E-mail cím</label>
</div>

<div class="form-floating mb-3">
  <input type="password" class="form-control" id="passwdField" placeholder="Password">
  <label for="passwdField">Jelszó</label>
</div>
<div class="btnhelye">
<button class="btn btn-outline-success" id="btnstyle" onclick="login()">Belépés</button>
</div>
