<h3>Adatrögzítés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
  <!-- ide jönnek a hibaüzenetek -->
</div>

<div class="form-floating mb-3">
  <input type="date" class="form-control" id="dateField" placeholder="" >
  <label for="dateField">Dátum:</label>
</div>

<div class="form-floating mb-3">
  <input type="number" class="form-control" id="stepField" placeholder="">
  <label for="stepField">Lépésszám:</label>
</div>

<button class="mb-3 btn btn-primary" onclick="addStepData()">Rögzítés</button>
