<h3>Adatrögzítés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">
  <!-- ide jönnek a hibaüzenetek -->
</div>

<div class="form-floating mb-3">
  <input type="date" class="form-control" id="dateField" placeholder="" >
  <label for="dateField">Dátum:</label>
</div>


<div class="form-floating mb-3">
  <input type="text" class="form-control" id="tipus" placeholder="">
  <label for="tipus">Bevétel/Kiadás</label>
</div>

<div class="form-floating mb-3">
  <input type="number" class="form-control" id="osszeg" placeholder="">
  <label for="osszeg">Összeg:</label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="tag" placeholder="">
  <label for="tag">Típus (pl.: Ruházat, Élelmiszer, Szolgáltatás) </label>
</div>





<div class="btnhelye">
<button class="btn btn-outline-success" id="btnstyle" onclick="addStepData()">Rögzítés</button>
</div>
