<h3>Táblázat nézet</h3>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Dátum</th>
            <th> <span style="color:green">Bevétel </span> / <span style="color:crimson">Kiadás</span> </th>
            <th>Típus</th>
            <th class="text-end">Összeg</th>
        </tr>
    </thead>
    <tbody>
            <!-- ide jönnek az összeg adatok -->
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4" class="text-end">Összesen:</th>

            <th id="sumField" class="text-end"></th>
        </tr>
    </tfoot>
</table>


